// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container{
  text-align:center;
}
ul{
  list-style: none;
  display: flex;
  justify-content:center;
}
li{
  margin: 10px;
  padding: 30px;
  background-color: #274c77;
  color:white;
  border-radius: 3px;
  border: 1px solid rgb(96, 150, 186);
  box-shadow: 2px 2px 7px rgb(231, 236, 239s);
}
a{
  text-decoration: none;
}
